* {
  box-sizing: border-box;
} 
body {margin:0;
  font-family: Arial,Times New Roman,Tahoma,  sans-serif;
  line-height: 1.5;
}

.navbar {
  text-align: center;
  overflow: hidden;
  background-color: #089413;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header {
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
}
.header span {
    display: block;
    font-weight: 300;
}
.header strong {
    font-weight: 900;
    text-transform: uppercase;
}
.section {
    padding: 30px 10%;
    }
.main {
    text-align: center;
    padding: 30px 10%;
}
.video, .form {
    display: inline-block;
    vertical-align: top;
}
.form {
    text-align: center;
    border: 5px solid blue;
    padding: 0px 20px 10px 20px;
    margin-left: 30px;
}
.form input {
    display: block;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    font-size: 18px;
}
.form_header {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.form button {
    margin-top:10px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    background-color: blue;
    border: none;
    width: 300px;
    height: 50px;
}
.feature-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
}
.feature {
    margin-top: 10px;
    text-align: center;
}
.col {
    display: inline-block;
    text-align: center;
    margin: -15px 0 15px 0;
}
.col p {
    margin-top: -50px;
}
#page h2 {
    margin-top: -20px;
    text-align: center;
}

.mytext {
    font-size: 20px;
    padding: 0px 30px 80px 30px;
}
.footerNavbar {
  text-align: center;
  overflow: hidden;
  background-color: #089413;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footerNavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
}
.footerNavbar a:hover {
  cursor: pointer;
  background: #ddd;
  color: black;
}